body {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background: linear-gradient(to bottom, rgba(35, 150, 214, 1), rgba(3, 10, 30, 1));
    font-family: "Inter Tight", sans-serif;
    font-style: normal;
    overflow-x: hidden; 
}

h1, h2, h3, p, a{
    font-weight: 300;
}

h1.federation-h1{
    font-size: 90px;
    color: rgba(3, 10, 30, 1);
}

h2.federation_news_h2 {
    font-size: 50px;
    color: rgba(146, 160, 161, 1);
}
::-webkit-scrollbar {
    width: 15px; /* Ширина вертикального скроллбара */
    height: 12px; /* Высота горизонтального скроллбара */
}

::-webkit-scrollbar-track {
    background: rgba(32, 82, 96, 1); /* Цвет трека (фон скроллбара) */
    border-radius: 10px; /* Закругление углов */
}

::-webkit-scrollbar-thumb {
    background: rgba(97, 112, 124, 1); /* Цвет ползунка (thumb) */
    border-radius: 10px; /* Закругление углов */
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(43, 50, 55, 1); /* Цвет ползунка при наведении */
}

.federation_logo {
    background-color: rgba(35, 152, 217, 1);
    position: fixed;
    z-index: 0;
    max-width: 2.5%;
    padding: 15px 15px;
    border-radius: 0 0 25px 0;
}

.header {
    border-top: 5px solid rgba(8, 32, 46, 1);

    max-height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: relative;
    font-size: 20px;
}

.header_menu{
    min-width: min-content;
    max-height: 50px;
    background-color: rgba(8, 32, 46, 1);
    border-radius: 0 0 10px 10px;
    display: flex;
    align-items: center; /* Вертикальное выравнивание по центру */
    justify-content: center;
    padding: 0 40px 0 40px;
}

.menu_list{
    display: flex;
    gap: 100px;
    list-style: none;
}

.header_menu a {
    text-decoration: none;
    color: rgba(146, 160, 161, 1);
}

.admin_main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Чтобы центрировать по вертикали относительно высоты окна браузера */
    margin: 0 auto;
    min-width: 80vw;
}

.admin_table a {
    font-weight: 400;
    text-decoration: none; /* Убирает подчеркивание у ссылок */
    color: inherit; /* Сохраняет цвет текста ссылок такой же, как у родительского элемента */
}

.main {
    margin-bottom: -50px;
}


.header_menu a:hover {
    text-decoration: none; /* Это необязательно, если у вас нет специальных стилей при наведении */
    color: white; /* Это тоже можно убрать, если цвет не меняется при наведении */
}

.add_btn {
    font-size: 25px;
    
    background-color: rgba(146, 160, 161, 1);
    border: none;
    padding: 0.5vh 10px;
    border-radius: 6px;
}

.add_btn:hover {
    background-color: none;
    color: white;
}


.enter_btn {
    position: absolute;
    right: 0;
    text-decoration: none;
    font-weight: 400;
    color: #11232a;
    font-size: 25px;
    background-color: #00d0f9;
    padding: 8px 15px;
    border-radius: 0 0 0 5px;
    cursor: pointer;
}

.registration_btn {
    display: none;
    position: absolute;
    top: 40px; /* Отступ от кнопки Войти */
    right: 0;
    text-decoration: none;
    font-weight: 400;
    color: #11232a;
    font-size: 25px;
    background-color: #00d0f9;
    padding: 8px 15px;
    border-radius: 5px 0 5px 5px;
    cursor: pointer;
}

.enter_btn:hover + .registration_btn,
.registration_btn:hover {
    display: block;
}

.registration_btn.active {
    display: block;
}

.registration_btn:hover, .enter_btn:hover {
    background-color: #f0f0f0; /* Цвет фона кнопки при наведении */
}
.first_ch {
    margin-left: -40px;
}

.start_img{
    background-size: cover;
    width: 100vw;
    margin-top: -85px;
}

.start_img img {
    width: 100%;
}

.top-gradient {
     background: linear-gradient(to bottom, rgba(3, 10, 30, 0.1), rgba(3, 10, 30, 0)); /* Градиентная граница */
}

.start_info {
    margin: -40px 80px 50px 80px;
    padding-top: 40px;
}


.about_federation {
    display: flex;
}

.about_txt {
    letter-spacing: 0.02em;
    font-size: 20px;
    margin-top: -30px;
    flex: 1; /* Расширяется, чтобы заполнить доступное пространство */
    color: white;
}

.about_txt p{
    text-align: justify;
}

.marquee-container {
    z-index: -1;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    width: 100%;
    background-color: rgba(3, 10, 30, 0.8); /* Темный фон для контраста */
    margin-bottom: 80px;
    position: relative;
    height: 40px; /* Высота контейнера */
}

.marquee, .marquee2 {
    display: inline-block;
    white-space: nowrap;
    left: 0;
}

.marquee span, .marquee2 span {
    font-size: 35px;
    color: white;
    padding: 0 10px;
}

.marquee {
    animation: marquee 40s linear infinite;
}

.marquee2 {
    animation: marquee2 40s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes marquee2 {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}


.competitions {
    background-color: rgba(255, 255, 255, 0.4);
    color: #ffffff;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 50px;
    border-radius: 15px;
}

.h2_competitions {
    max-width: 100vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    font-size: 50px;
}

.competitions_list {
    max-width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.competition_btn {
    font-family: "Inter Tight", sans-serif;
    font-weight: 400;
    width: 20vw;
    height: 60px;
    font-size: 25px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    color: #494e53;
    border: none;
    border-radius: 6px;
}
/* Анимация для пульсирующей тени */
@keyframes pulse {
    0% {
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    }
    50% {
        box-shadow: 0 0 60px rgba(255, 255, 255, 0.6);
    }
    100% {
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    }
}

/* Эффект при наведении */
.competition_btn:hover {
    animation: pulse 1s infinite;
    letter-spacing: 0.03em;
    font-family: "Inter Tight", sans-serif;
    font-weight: 400;
}
table.competitions_table, table.admin_table{
    text-decoration: none;
    /* border-collapse:collapse; */
    width:80vw;
    text-align:center;
    border: попе;
    border-spacing: 5px 8px;
    border-radius: 5px;
    background-color: #ffffff;
    margin-bottom: 40px;

}

table.competitions_table th, table.admin_table th{
    font-weight:normal;
    font-size:14px; color:#ffffff;
    padding: 50px 50px 50px 50px;
}

table.competitions_table td, table.admin_table td{
    padding:20px 0px;
    font-size:13px;
    color:#494e53;
}

table.competitions_table td, table.competitions_table th, table.admin_table th, table.admin_table td{
    /* padding:20px 0px; */
    line-height:30px;
    vertical-align: middle;
/*    border: 2px solid #939496;*/
    border-radius: 5px;
    background-color: rgba(217, 217, 217, 1);
    font-size: 25px;
}

table.competitions_table tr:hover td, table.admin_table tr:hover td{
    color:#354251;
    cursor:pointer;
}
.container_profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}
table.admin_table {
    min-width: 50vw;
}
.dashboard_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
}
.table3{
    max-width: 40vw;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    justify-content: center;
    align-items: center;
}

.modal_box {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input,
.form-group select {
    font-family: "Inter Tight", sans-serif;
    font-style: normal;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}
h2.modal-h2 {
    color: rgba(3, 10, 30, 1);
    font-weight: 500;
}
input[type="email"]{
    border: 1px solid black;
    border-top: none;
}
input[type="text"]{
    border: 1px solid black;
    border-bottom: 1px solid rgba(170, 178, 180, 0.1);
}
.form-group .add-student {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #007bff;
    margin-top: 10px;
}

.form-group .add-student span {
    margin-left: 5px;
}

.form-group .student-entry {
    display: flex;
    gap: 10px;
    align-items: center;
}

.form-group .student-entry input {
    flex: 1;
}

.form-group .remove-student {
    cursor: pointer;
    color: #ff0000;
    font-size: 20px;
}

.modal-content {
    display: flex;
    flex-direction: column;
}

.modal-content button {
    padding: 10px;
    background: linear-gradient(to right, rgba(20, 97, 122, 1), rgba(8, 75, 57, 0.5));
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 15px;
}

.news-slider-wrapper {
    position: relative;
}

.scroll-btn {
    z-index: -1;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    background-color: rgba(8, 32, 46, 0); /* Цвет фона кнопок */
    border: none;
    cursor: pointer;
    padding: 20px 10px;
    font-size: 70px;
    color: #207782;
    text-shadow: 1px 1px 2px black;
}

.scroll-btn:hover {
    color: white;
}

.scroll-btn.left {
    left: 0;
    margin-left: -70px;
}

.scroll-btn.right {
    right: 0;
    margin-right: -70px;

}

.federation_news {
    margin: 0 80px 0 80px;
}
h2.federation_news_h2 {
    font-size: 50px;
    color: white;
}
.news-slider {
    display: flex;
    overflow-x: auto;
    gap: 20px; /* Расстояние между элементами */
}

.news_img{
    border-radius: 10px 10px 0 0;
}

.news-item {
    max-width: 10%;
    min-width: 500px;
    background-color: rgba(146, 160, 161, 1);
    margin-bottom: 50px;
    border-radius: 10px;
    padding-bottom: 30px;
}

.news-item_txt {
    padding-left: 2vw;
    max-width: 90%
}

.news-item img {
    width: 100%; /* Чтобы изображение заполняло блок */
    height: auto;

}

  /* Стиль для скрытия полосы прокрутки */
.news-slider::-webkit-scrollbar {
    display: none;
}

  /* Для Firefox */
.news-slider {
    scrollbar-width: none;
}

.news-slider-wrapper::before,
.news-slider-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100px; /* Ширина градиентной маски */
  height: 335px;
  pointer-events: none;
  z-index: 2;
}

.news-slider-wrapper::before {
  left: 0;
  background: linear-gradient(to right, rrgba(8, 32, 46, 1, 0.7) 0%, transparent 100%);
}

.news-slider-wrapper::after {
  right: 0;
  background: linear-gradient(to left, rrgba(8, 32, 46, 1, 0.7) 0%, transparent 100%);
}

form {
    margin-left: 5vw;
    width: 700px;
    margin-top: 50px;
}

.form-control {
    font-size: 20px;
    min-height: 30px;
    width: 100%;
}


.full_text {
    font-size: 20px;
    width: 500px;
    max-width: 700px;
    max-height: 800px;
}

.btn-success {
    font-size: 20px;
    width: 200px;
    height: 30px;
}

.news_post{
    max-width: 100vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.features {
    margin-top: 80px;
    max-width: 80%;
    color: #FFFFFF;
}

.features_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news_back {
    font-weight: 400;
    padding-right: 10px;
}

.features_top h1{
    max-width: 650px;
}

.features_txt{
    display: block;
    background-color: rgb(255, 255, 255, 0.35);
    padding: 20px 50px;
    margin-bottom: 20px;
    border-radius: 15px;
    text-align:justify
}

.features_btn {
    max-width: 100%;
    display: flex;
    justify-content: space-around;
}

.features a{
    font-size: 25px;
    color: #f0f0f0;
    text-decoration: none;
}

.features_btn a:hover:last-child{
    color: #ff0000;
}

.features_btn a:hover:first-child{
    color: #00ca5b;
}

.features p{
    font-size: 1.5em;
}

.footer {
    position: relative;
    width: 100%;
}

.footer_info{
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: rgba(35, 152, 217, 1);
    position: absolute;
    padding: 0 50px;
    bottom: 35%;
}
.footer_bg {
    bottom: 0; /* Размещает изображение в самом низу страницы */
    left: 0;
    width: 100%;
    height: 100%; /* Соответствует высоте футера */
    z-index: -1; /* Гарантирует, что изображение будет под всеми другими элементами */
    background-size: cover;
}

.introduction p {
    font-size: 1.5em;
    line-height: 1.5;
    color: #333;
}

.goals h2, .history h2, .activities h2, .team h2, .contacts h2 {
    font-size: 30px;
    margin-top: 20px;
    color: #237199;
}

.goals ul, .activities ul, .contacts ul {
    list-style-type: none;
    padding: 0;
}

.goals li, .activities li, .contacts li {
    margin-bottom: 10px;
    font-size: 1.1em;
    color: #555;
}

.history p, .team p {
    font-size: 1.5em;
    line-height: 1.5;
    color: #333;
}

.contacts ul li {
    font-size: 1.1em;
    color: #555;
}

.mt-5 {
    text-align: justify;
    border-radius: 15px;
    padding: 10px 60px;
    margin: 50px 50px;
    background-color: rgba(255, 255, 255, 0.6);
}

.my-5{
    margin-bottom: 80px;
}

.my-5 p{
    font-size: 1.1em;
}

.my-5:last-child {
    margin-bottom: 40px;
}

.text-center {
    font-size: 50px;
}

.task-form {
    display: none;
}
