<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Основы Python УРОВЕНЬ 1</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
    <link href="/comp.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1>Основы Python УРОВЕНЬ 1</h1>
        <div class="card p-3 mt-4">
            <h2>Определение большего и меньшего числа</h2>
            <p>На вход принимается четыре числа, необходимо определеить наименьшее и наибольшее</p>
            
            <div class="text-center my-4">
                <img src="https://sovyatka.ru/800/600/https/ds05.infourok.ru/uploads/ex/0472/000261e9-7bccdd33/1/img7.jpg" alt="Task Image" class="img-fluid">
            </div>

            <a href="{{ task.file }}" class="btn btn-link">Прикрепить файл с ответом</a>
            <div class="d-flex justify-content-between mt-4">
                <a href="{% url 'competition_tasks' test.id previous_task_id %}" class="btn btn-secondary">
                    Предыдущее задание
                </a>
                    <span></span>
                <a href="{% url 'competition_tasks' test.id next_task_id %}" class="btn btn-primary">
                    Следующее задание
                </a>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
