<style>
    .main_block {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh; /* Чтобы центрировать по вертикали относительно высоты окна браузера */
        margin: 0 auto;
        min-width: 80vw;
    }
    .main_info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>
<div class="main_block">
    <div class="main_info">
        <h1>Тест загружен</h1>
        <a href="{% url 'home' %}" class="btn btn-primary">На главную</a>
    </div>
</div>