{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ test.title }}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/css/tests.css' %}" />
</head>
<body>
    <div class="container_test-detail">
        <div class="test_detail-info">
            <h1>Тест "{{ test.title }}"</h1>
            <p>Дата завершения {{ test.due_date }}</p>
        </div>
        <ul class="detail-ul">
            {% for task in test.tasks.all %}
                <li>
                    <h3>Заголовок задания: {{ task.title }}</h3>
                    <p>Описание: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, tenetur praesentium veritatis sapiente aut dolorum eius temporibus? Perferendis maxime repellat illo quam! Inventore maiores beatae, quae hic ullam at atque!{{ task.description }}</p>
                    {% if task.image %}
                        <img src="{{ task.image.url }}" alt="Task image" class="detail-image">
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
