{% extends 'main/layout.html' %}

{% block title %}Про нас{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-center">О Федерации</h1>
        
        <section class="introduction my-5">
            <p>Федерация спортивного программирования - это организация, занимающаяся продвижением и развитием спортивного программирования. Мы предоставляем платформу для соревнований, семинаров и других мероприятий, направленных на улучшение навыков программирования и развитие профессиональных компетенций.</p>
        </section>
        
        <section class="goals my-5">
            <h2>Цели и задачи</h2>
            <ul>
                <li>Продвижение спортивного программирования среди молодежи и профессионалов.</li>
                <li>Организация и проведение соревнований различного уровня.</li>
                <li>Обучение и подготовка программистов к участию в международных олимпиадах и чемпионатах.</li>
                <li>Создание сообщества единомышленников для обмена опытом и знаниями.</li>
            </ul>
        </section>
        
        <section class="history my-5">
            <h2>История</h2>
            <p>Федерация была основана в [год основания] году группой энтузиастов с целью популяризации спортивного программирования. За годы своей деятельности мы организовали множество соревнований и образовательных мероприятий, привлекли к участию сотни программистов и студентов, а также добились значительных успехов на международной арене.</p>
        </section>
        
        <section class="activities my-5">
            <h2>Деятельность</h2>
            <p>Наша федерация проводит следующие виды деятельности:</p>
            <ul>
                <li><b>Соревнования:</b> Ежегодные турниры и чемпионаты по спортивному программированию.</li>
                <li><b>Обучение:</b> Курсы, семинары и мастер-классы для программистов разного уровня подготовки.</li>
                <li><b>Сообщество:</b> Поддержка активного сообщества программистов через форумы, митапы и онлайн-платформы.</li>
            </ul>
        </section>
        
        <section class="team my-5">
            <h2>Команда</h2>
            <p>Наша команда состоит из опытных специалистов и энтузиастов в области программирования и образования. Мы постоянно развиваемся и стремимся к достижению новых вершин.</p>
        </section>
        
        <section class="contacts my-5">
            <h2>Контакты</h2>
            <p>Для получения дополнительной информации или вопросов, пожалуйста, свяжитесь с нами:</p>
            <ul>
                <li><b>Телефон:</b> +7 908 999-99-99</li>
                <li><b>Адрес:</b> г. Город, ул. Улица, стр. Строение</li>
                <li><b>Электронная почта:</b> info@federation.ru</li>
            </ul>
        </section>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
