{% extends 'main/layout.html' %}{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Панель администратора{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/css/admin.css' %}">
</head>
<body>
    {% block content %}
        <div class="admin_main">
            <table class="admin_table">
                <tbody>
                        
                    <tr>
                        <td><a href="{% url 'create' %}">Создать новость</a></td>
                    </tr>
                    <tr>
                        <td><a href="{% url 'create_test' %}">Создать тест</a></td>
                    </tr>
                    <tr>
                        <td><a href="{% url 'admin_dashboard' %}">Проверить решения</a></td>
                    </tr>
                    <tr>
                        <td><a href="{% url 'admin:index' %}">Панель администрирования Django</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    {% endblock %}
</body>
</html>
