{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="logo">
        <img src="{% static 'main/img/Logo.svg' %}" alt="" class="federation_logo">
    </div>
     <header class="header">
        <div class="header_menu">
            <ul class="menu_list">
                <a href="{% url 'home' %}"><li class="first_ch">Главная</li></a>
                <a href="{% url 'about' %}"><li>О федерации</li></a>
                <a href="{% url 'competitions' %}"><li>Соревнования</li></a>
                <a href="{% url 'news_home' %}"><li>Новости</li></a>
                {% comment %} <a href="{% url 'create' %}"><li><button class="add_btn">Добавить запись</button></li></a> {% endcomment %}
                {% if user.is_authenticated and user.is_superuser %}
                <a href="{% url 'admin_panel' %}"><li>Панель администратора</li></a>
                {% endif %}
            </ul>
        </div>

        {% if not user.is_authenticated %}
                <div class="header_btns">
                    <a href="{% url 'login' %}" class="enter_btn">
                        Войти
                    </a>
                    <a href="{% url 'registration' %}" class="registration_btn">
                        Зарегистрироваться
                    </a>
                </div>
            {% else %}
                <div class="header_btns">
                    <a href="{% url 'logout' %}" class="enter_btn">
                        Выйти
                    </a>
                </div>
            {% endif %}
    </header>


    <main class="main">
        {% block content %}

        {% endblock %}
    </main>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Находим логотип
            const logo = document.querySelector('.federation_logo');
            const enterBtn = document.querySelector('.enter_btn');
            const registrationBtn = document.querySelector('.registration_btn');

            enterBtn.addEventListener('mouseenter', function() {
                registrationBtn.classList.add('active');
            });

            enterBtn.addEventListener('mouseleave', function() {
                registrationBtn.classList.remove('active');
            });

            registrationBtn.addEventListener('mouseenter', function() {
                registrationBtn.classList.add('active');
            });

            registrationBtn.addEventListener('mouseleave', function() {
                registrationBtn.classList.remove('active');
            });

            // Добавляем обработчик события на клик по логотипу
            logo.addEventListener('click', function() {
                // Прокручиваем страницу вверх с плавной анимацией
                window.scrollTo({
                    top: 0,
                    behavior: 'smooth'
                });
            });
        });
    </script>



    <footer class="footer">
        <div class="footer_info">
            <div class="contacts">
                <p>Контакты: +7 908 999-99-99</p>
                <p>Адрес: г. Город, ул. Улица, стр. Строение</p>
                <p>Шахвердиева Алина Джаваншировна ИС 1.20</p>
            </div>
            <div class="corp">
                <p style="opacity: 0.3;">© Федерация спортивного программирования СУРГУТ</p>
            </div>
        </div>
        <img class="footer_bg" src="{% static 'main/img/footer.png' %}" alt="">
    </footer>
</body>
</html>